<div class="container p-5">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>title</th>
              <th>type</th>
              <th width="20px">amount</th>
              <th width="20px">option</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exp of expenseData$ | async; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ exp.title }}</td>
              <td ngClass="text-{{ (exp.type == 'credit') ? 'success' : 'danger' }}">{{ exp.type }}</td>
              <td class="text-end">{{ exp.amount | currency:'N' }}</td>
              <td class="text-nowrap py-1">
                <a href="javascript:void(0)" class="btn mx-1 btn-success" (click)="doMod(exp.id)">&#9998;</a>
                <a href="javascript:void(0)" class="btn mx-1 px-3 btn-danger" (click)="doDrop(exp.id)"><b>x</b></a>
                <!-- <button class="dropdown-toggle" data-toggle="dropdown">Action</button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="#" class="dropdown-item" (click)="doMod(exp.id)">Edit</a>
                  <a href="#" class="dropdown-item" (click)="doDrop(exp.id)">Delete</a>
                </div> -->
              </td>
            </tr>
            <tr>
              <td colspan="3">Total</td>
              <td colspan="2" class="text-end">{{ total$ | async | currency:'N' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <form [formGroup]="form" (ngSubmit)="doSubmit()">
        <div class="form-floating mb-2">
          <input type="text" id="title" class="form-control" formControlName="extitle" placeholder="Title">
          <label for="title">Title</label>
        </div>
        <div class="form-floating mb-2">
          <input type="number" id="amount" class="form-control" formControlName="examount" placeholder="Amount">
          <label for="amount">Amount</label>
        </div>
        <div class="mb-2 text-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" checked formControlName="extype" id="exdebit" value="debit">
            <label class="form-check-label" for="exdebit">Debit</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="extype" id="excredit" value="credit">
            <label class="form-check-label" for="excredit">Credit</label>
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-success py-2 px-3 rounded-5" [disabled]="form.invalid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
