/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');
* {
  font-family: 'Anuphan', sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
}
input.form-control {
  border-radius: 36px;
}
input.form-control:focus {
  padding-left: 24px;
}
input.form-control + label {
  transition: all .2s ease;
}
input.form-control:focus + label {
  left: 12px;
}